div{
    width: 100%;
}
input{
  
    padding: 6px 10px;

}button{
    background-color: #008000;
    color: white;
    border: none;
    padding: 9px 10px;
 }

.delete-button{
    background-color:#3c005a;
 
}
.container,
#todo-lst{
    width: 400PX;
    display: inline-block;
    display: grid;
    grid-template-columns: 186px 133.33px 80px;
    column-gap: 6px;
    row-gap: 6px;
    margin-top: 8px;
    align-items: center;
  
}

 
 

 