
input{
  
    padding: 6px 10px;

}button{
    background-color: #008000;
    color: white;
    border: none;
    padding: 9px 10px;
    margin-left: px;
}

.delete-button{
    background-color:#3c005a;
    margin-left: 236px;
}
.container{
    width: 450PX;
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    column-gap: 6px;
  
}

#todo-lst{
    background-color: rgb(23, 115, 149);
    width: 100%;
   

}
 